*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: marfa-med;
    src: url(fonts/ABCMarfa-Medium-Trial.otf);
}

@font-face {
    font-family: marfa-light;
    src: url(fonts/ABCMarfa-Light-Trial.otf);
}
@font-face {
    font-family: marfa-mono;
    src: url(fonts/ABCMarfaMono-Light-Trial.otf);
}
@font-face {
    font-family: ibm;
    src: url(fonts/IBMPlexMono-Regular.ttf);
}

html {
    height: 100%;
    scroll-behavior: smooth;
  }

body{
    font-family: 'marfa-med';
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    min-height: 100%;
    width: 100%;
}

.main-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    margin-bottom: 50px;
    border: 2px solid black;
    border-radius: 25px;
    border-style:dashed;
    padding: 20px;
}

.dark-mode {
    background-color: rgb(14,15,15);;
    color: white;
  }

.dark-mode .main-container  { 
    border-color: white;
    background-color: rgb(31,31,31);
}
.dark-mode a{
    color: white;
}
.dark-mode #one {
    border-color: white;
}
.dark-mode #two {
    border-color: white;
}
.dark-mode #three {
    border-color: white;
}
.dark-mode .player {
    border-color: white;
}
.dark-mode footer {
    border: 2px solid white;
}

.light-mode {
    background-color: white;
    color: black;
  }

.title {
    display: flex;
}

.asterix {
    margin-top: 1.5px;
    height: 43px;
    width: 43px;
    animation: rotate 15s infinite linear;

}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
    /* 100% {
        transform: 
        rotate3d(1,1,1, 360deg)
        rotateZ(360deg)
    } */
}

.dev{
    margin-top:10px;
    font-size: 20px;
    margin-left: 10px;
    font-family: marfa-light;
}

.caret {  
    margin-top: 10.2px;
    margin-left: 3px;
    height: 25px;
    width: 1px;
    background-color: black;
    display: inline-block;
    animation: blink .9s linear infinite;
}

.dark-mode .caret{
    background-color: white;  
}

@keyframes blink {
    0% {
        visibility: hidden;
      }
    50% {
        visibility: hidden;
      }
    100% {
        visibility: visible;
      }
} 

.profile{
    width:300px;
    margin-left: 127px;
}
.name{
    font-size: 20px;
}

.profile a:hover{
    color: rgb(89, 235, 89);
}

.about {
    font-family: 'marfa-mono';
    font-size: 15px;
}

.nav-bar{
    display: flex;
    gap: 10px;
    font-size: 20px;
}

li {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
} 

.nav-link{
    transition: 0.2s ease;
}

.nav-link:hover{
    color: rgb(89, 235, 89);
}

.links{
    display: block;
}

.brightness button {
    border: none;
    /* align-items: center; */
    justify-content: space-between;
    margin-right: 25px; 
    text-decoration: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: transparent;
    cursor: pointer;
}

#icon{
    height: 30px;
    width: 30px;
}
.row1{
    margin: auto;
    width: 980px;
}

.column {
    display: flex;
    gap:60px;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    margin-top: 40px;
}

.list{
    margin: auto;
    padding-left: 20px;
    margin-top: 50px;
}
.edu{
    padding-left: 4px;
}

.courses{
    font-family: 'marfa-mono';
    margin-top: 10px;
    margin-bottom: 50px;
}
.courses p{
    margin: 4px;
}
.image{
    width: 75%;
    border-radius: 20px;
    -webkit-box-shadow: rgba(0, 0, 100, 0.3) 0 1px 5px;
    -moz-box-shadow: rgba(0,0,100,0.3) 0 1px 5px;
     box-shadow: rgba(0, 0, 100, 0.3) 0 1px 5px;
}

.bio {
    margin-left: 20px;
    margin-right: 20px;
    width: 75%;
    font-size: 21px;
    font-family: marfa-light;
}

.bio p:nth-child(2){
    margin-top: 20px;
}
.bio p:nth-child(3){
    margin-top: 20px;
}
.bio p:nth-child(4){
    margin-top: 20px;
}

.wave {
    border-radius: 20px;
    width: 400px;
    margin: auto;
    /* margin-bottom: 30px; */
    justify-content: center;
    display: flex;
    -webkit-box-shadow: rgba(0, 0, 100, 0.3) 0 1px 5px;
    -moz-box-shadow: rgba(0,0,100,0.3) 0 1px 5px;
     box-shadow: rgba(0, 0, 100, 0.3) 0 1px 5px;
}

.my-projects {
    font-size: 20px;
    margin: auto;
    width: 980px;
    padding-left: 20px;
    margin-top: 60px;
}

.projects{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    font-family: 'marfa-mono';
    font-size: 20px;
    width: 980px;
    margin-top: 20px;
    margin-bottom: 110px;
}

.column-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}
#midnight {
    max-width:450px;;
    height: 130px;
    border: 2px solid black;
    border-radius: 10px;
    display: block;
    align-items:center;
    cursor: pointer;
    margin-bottom: 30px;
    margin-top: 30px;
    -webkit-box-shadow: rgba(0, 0, 100, 0.3) 0 1px 5px;
    -moz-box-shadow: rgba(0,0,100,0.3) 0 1px 5px;
     box-shadow: rgba(0, 0, 100, 0.3) 0 1px 5px;
}

.dark-mode #midnight{
    border-color: white;
    background-color: rgb(31,31,31);
}
#midnight p {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
    margin-top: 10px;
    margin-left: 20px;
}

#midnight .about {
    /* display: block; */
    font-size: 13px;
    margin-left: 20px;
    margin-right: 20px;
}

#midnight .title:hover{
    color: rgb(21, 203, 21);
}

#midnight .title p:nth-child(2){
    font-size: 13px;
    color: rgb(227,43,107)
}

#audio-player {
    width: 450px;
    height: 130px;
    border: 2px solid black;
    border-radius: 10px;
    display: block;
    align-items:center;
    cursor: pointer;
    -webkit-box-shadow: rgba(0, 0, 100, 0.3) 0 1px 5px;
    -moz-box-shadow: rgba(0,0,100,0.3) 0 1px 5px;
     box-shadow: rgba(0, 0, 100, 0.3) 0 1px 5px;
}

.dark-mode #audio-player{
    border-color: white;
    background-color: rgb(31,31,31);
}

#audio-player p {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
    margin-top: 10px;
    margin-left: 20px;
}

#audio-player .about {
    /* display: block; */
    font-size: 13px;
    margin-left: 20px;
    margin-right: 20px;
}

#audio-player .title:hover{
    color: rgb(21, 203, 21);
}
#audio-player .title p:nth-child(2){
    font-size: 13px;
    color: rgb(227,43,107);
}
.try-me{
    display: flex;
    border: 2px solid black;
    border-radius: 25px;
    width: 100px;
    background-color: white;
    font-size: 15px;
    height: 30px;
    margin-top: 33px;
    margin-left: 350px;
    animation: sway 10s infinite linear;
}
@keyframes sway { 
    0% {
        transform: translatey(10);
     }
     50% {
         transform: translatey(0px);
     }
 }

.try-me .text{
    margin: auto;
}

.try-me:hover {
    background-color: black;
    -webkit-text-fill-color:  rgb(21, 203, 21);
}
.dark-mode .try-me{
    background-color: black;
    border-color: white;
}

/* Audio Stuff */
.playlist {   
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    font-family: 'marfa-mono';
    font-size: 17px;
    max-width: 500px;
    margin-top: 200px;
}

.tracks {
    /* margin: auto; */
}

.tracks a {
    color: black;
    text-decoration: none;
}

#one {
    width: 150px;
    height: 50px;
    border: 2px dashed black;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center; 
    cursor: pointer;
}

#one:hover {
    background-color: black;
    -webkit-text-fill-color:  rgb(89, 235, 89);
    font-size: 120%;
    transition: all .3s linear;
}

#one p {
    -webkit-text-stroke-width: .1px;
    -webkit-text-stroke-color: black;
    transition: all .3s linear;
}
.dark-mode #one {
    background-color: rgb(31,31,31);
}
.clicked {
    width: 150px;
    height: 70px;
    border: 25px solid black;
    border-radius: 50%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center; 
    position: relative;
    background-color: black;
    -webkit-text-fill-color:rgb(89, 235, 89);;
    font-size: 120%;
    transition: all .3s linear;
    cursor: pointer;
}

#two {
    width: 150px;
    height: 50px;
    border: 2px dashed black;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center; 
    animation: sway-one 20s infinite linear;
    cursor: pointer;
}

#two:hover {
    background-color: black;
    -webkit-text-fill-color:  rgb(89, 235, 89);
    font-size: 120%;
    transition: all .3s linear;
}

#two p {
    -webkit-text-stroke-width: .1px;
    -webkit-text-stroke-color: black;
    transition: all .3s linear;
}
.dark-mode #two {
    background-color: rgb(31,31,31);
}
.two-clicked {
    background-color: black;
    -webkit-text-fill-color:  rgb(89, 235, 89);
    font-size: 130%;
    transition: all .3s linear;
}
#three {
    width: 150px;
    height: 50px;
    border: 2px dashed black;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center; 
    animation: sway-one 20s infinite linear;
    cursor: pointer;
}
#three:hover {
    background-color: black;
    -webkit-text-fill-color:  rgb(89, 235, 89);
    font-size: 120%;
    transition: all .3s linear;
}
#three p {
    -webkit-text-stroke-width: .1px;
    -webkit-text-stroke-color: black;
    transition: all .3s linear;
}
.dark-mode #three {
    background-color: rgb(31,31,31);
}
.three-clicked {
    background-color: black;
    -webkit-text-fill-color:  rgb(89, 235, 89);
    font-size: 130%;
    transition: all .3s linear;
}
.player {
    width: 500px;
    margin: auto; 
    margin-top:20px;
    margin-bottom: 30px;
    background-color: transparent;
    display: grid;
    grid-template-columns: 48px 1fr 48px;
    grid-gap: 8px;
    padding: 4px 20px;
    position: relative;
    border: 2px solid black;
    border-color: black;
    border-radius: 15px;
    -webkit-box-shadow: rgba(0, 0, 100, 0.3) 0 1px 5px;
    -moz-box-shadow: rgba(0,0,100,0.3) 0 1px 5px;
     box-shadow: rgba(0, 0, 100, 0.3) 0 1px 5px;
}

.dark-mode .player{
    background-color: rgb(31,31,31);
}

.control,#current {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 16px;
}

#playbtn {
    font-size: 24px;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    -webkit-text-fill-color: black;
    cursor: pointer;
}

.dark-mode #playbtn {
    -webkit-text-stroke-color: white;
    -webkit-text-fill-color: white;
}

#playbtn:hover {
    -webkit-text-fill-color: transparent;
}

#current {
    text-align: right;
    font-family: 'marfa-mono';
    font-size: 17px;
}

.bar {
    --space: -4px;
    text-align: center;
    overflow: hidden;
    left: var(--space);
    right: var(--space);
    top: var(--space);
    bottom: var(--space);
    position: center;
    border-radius: 10px;
    z-index: -2;
}

/* Progress Bar*/
.progress_bar {
    height: 2px;
    margin-bottom: 28px;
    width: relative;
    background-color:black;
    margin-top: 30px;
    border-radius: 10px;
    cursor: pointer;
}
.dark-mode .progress_bar {
    background-color:white;
    }

.progressed {
   height: 3px;
   background-color: black;
   width: 0%;
   transition: all 0.2s linear;
   position: relative;
}

.dark-mode .progressed {
    background-color:white;
    }
    
.progressed::after {
   content: '';
   position: absolute;
   right: -10px;
   top: -5px;
   width: 12px;
   height: 12px;
   border-radius: 10px;
   background-color: black;
}
.dark-mode .progressed::after  {
    background-color:white;
    }

#display-date{
    display: flex;
    /* margin: auto; */
    justify-content: center;
    font-family: 'marfa-mono';
    font-size: 15px;
    color: white;
}

@media all and (max-width:1000px) {
    .main-container{
        display: block;
        margin-bottom: 50px;
        font-size: 25px;
        border: 2px solid black;
        border-radius: 25px;
        border-style:dashed;
        padding: 20px;
        
    }
    
    .title{
        display: flex;
    }
    
    .asterix {
        margin-top: 2.6px;
        height: 33px;
        width: 33px;
    }
    .asterix:hover {
        margin-top: 2.6px;
        height: 33px;
        width: 33px;
    }

    .dev{
        margin-top: 0px;
        font-size: 30px;
        margin-left: 10px;
        font-family: marfa-light;
    }
    
    .caret{  
        margin-top: 0.2px;
        margin-left: 3px;
        height: 37.2px;
        width: 2px;
    }
    .profile{
        margin-left: 0
    }
    .name{
        margin-top: 30px;
        font-size:30px;
    }
    
    .links{
        /* display: flex; */
        align-items: center;
    }
    .nav-bar{
        gap: 10px;
        font-size: 20px;
    }
    .brightness button:nth-child(1) {
        /* margin-right: 1px; */
        /* margin-left: 15px;  */
    }
    .brightness {
        margin-top: 7px;
    }

    .about {
        margin-top: 5px;
        margin-bottom: 30px;
        font-size: 18px;
    }

    .row1{
        margin: auto;
        width: 100%;
    }

    .column {
        display: block;
        align-items: center;
        justify-content: space-between;
        margin: 20px;
        margin-top: 40px;
    }

    .image{
        width: 100%;
    }
    .edu {
        display: flex;
        margin: auto;
        width: 250px;
        justify-content: center;
        border: 2px dashed black;
        border-radius: 20px;
        padding: 2%;
    }
    .dark-mode .edu{
        border-color: white;
    }
    .courses{
        margin-top: 50px;
        font-size: 17px;
    }

    .bio {
        width:100%;
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left: 0px;
        font-size: 20px;
        font-family: marfa-light;
    }
    /* Projects */
    .my-projects {
        display: flex;
        /* margin: auto; */
        width: 250px;
        justify-content: center;
        border: 2px dashed black;
        border-radius: 20px;
        padding: 2%;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .dark-mode .my-projects{
        border-color: white;
    }
    .projects {   
        display: block;
        align-items: center;
        justify-content: center;
        max-width: 100%;
    }
    .projects p {   
        display: flex;
        align-items: center;
        justify-content: center;
    }
   .column-1{
        margin: 20px;
   }

   #midnight{
    margin-left: 0;
    margin-top: 0px;
   }
   #audio-player{
    margin-right: 0;
   }
   .try-me{
    margin-top: -7px;
    margin-left: 285px;
    }
    
    @keyframes sway { 
        0% {
            transform: translatey(0);
         }
         50% {
             transform: translatey(10px);
         }
     }
    /* Audio Stuff */
    .player{
        width: 92%;
        margin: 20px;
    }
    .playlist {   
        display: block;
        margin-top: 100px;
    }
    
    .tracks {
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px;
    }

    
}
.git-hub {
    width: 40px;
    height: 40px;
}
.git-hub:hover {
    cursor: pointer;
}
#clock {
    color: white;
    font-family: 'ibm';
    font-size: 13px;
}
footer {
    display: flex;
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 30px;
    position: absolute;
    bottom: 0;
    text-align: center;
    height: 80px;
    width: 100%;
    border-radius: 50px 50px 0 0;
    background-color: rgb(31,31,31);
}
